.env
.streamlit/secrets.toml
create_db.py
upload_data_to_milvus.py
# *.xlsx
*.pdf
# Create Evaluation Data.py
# Create Evaluation Excel.py
/__pycache__/*
Capstone Dataset without Answers.xlsx
evaluation.xlsx
output.xlsx
Jina Web Scrape.py
upload Huawei.py